<header id="top-header">
    <nav class="navbar navbar-expand-lg navbar-inverse bg-faced fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggler pull-left open" data-toggle="collapse" data-target="#navbarList">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OJ-Client</a>
        </div>

        <!-- navbar list -->
        <div class="collapse navbar-collapse" id="navbarList">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/']">Home<span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Problems</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/problems/diff', 'easy']">Easy</a>
                        <a class="dropdown-item" [routerLink]="['/problems/diff', 'medium']">Medium</a>
                        <a class="dropdown-item" [routerLink]="['/problems/diff', 'hard']">Hard</a>
                        <a class="dropdown-item" [routerLink]="['/problems/diff', 'super']">Super</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/problems']">All Problems</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/new-problem']">Add Problem</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input #box (keyup)="0" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/problem-search', box.value]">Search</button>
            </form>
        </div> 
    </nav>
</header>

<footer class="bg-dark text-white fixed-bottom">
<div class="container">
    <p class="quote"><i>"ALgorithms + Data Structure = Programs        -- by Niklaus Wirth"</i></p>
</div>
<ul>
    <li>
    <p><i class="fa fa-group fa-2x"></i></p>
    <p>About Us</p>
    </li>

    <li>
    <p><i class="fa fa-envelope-o fa-2x"></i></p>
    <p>Help</p>
    </li>

    <li>
    <p><i class="fa fa-phone fa-2x"></i></p>
    <p>Contact Us</p>
    </li>
</ul>
</footer>